<p>Dear <%=@user["name"] %>,</p>

<p>Thank you for contacting Raison Mentors. A member of our staff will get back to you as soon as possible.</p>
<br />

<p>Kind regards</p>
<p>Raison Mentors Team</p>

<p>Website: <a href="www.raisonmentors.com">Raison Mentors</a></p>
<p>Email us: <a href="mailto:info@raisonmentors.com"></a></p>
