<div class="tabs-horz-top2">
	<ul class="tabs-nav" style="margin-right: 45px">
		<li><a href="">Members</a></li>
		<li><a href="">Organisations</a></li>
	</ul>
	
	<div class="tab-content" style="background: none; border: none;">
	</div>
	
	<div class="tab-content" style="background: none; border: none;">
	</div>
	
</div>
