<section class="padsection3" style="margin-top: 2em">
		<div class="container_24">
			<div class="wrapper">
				<div class="grid_8">
					<h2 class="padtitle">Free</h2>
					<div>We are so proud to offer all our services for free, we have repeated it all over the site! We care about really making a difference and therefore we promise never to charge for mentoring or projects! That is right, we promise from now until eternity (or if we ever go bankrupt ☹).</div>
				</div>
				<div class="grid_8">
					<h2 class="padtitle">Careers</h2>
					<div>Well this one is a bit obvious really... We are a career focussed organisation that ensures all our services have a huge impact on your career. Internally we follow the same policy and try our absolute hardest to ensure we develop our careers in to a fulfilling experience #myraison.</div>
				</div>
				<div class="grid_8">
					<h2 class="padtitle">Networking</h2>
					<div>Connect to others through the website and you may just meet the President... Well, probably not. But you can still try? Networking is one of those vital skills everyone needs to do – the more people you know, the more opportunities you have. We strongly believe in the power of social capital and try to maximise any opportunities for this through the site.</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_24">
					<div class="padline3"><div class="lineH"></div></div>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_12">
					<h2 class="padtitle2">Feedback</h2>
					<div class="wrapper">
						<%=# image_tag ("3page_img1.png" ) 
						%>
						<p>How do you know you’re the pooches’ privates? Feedback is a crucial part of life. We provide feedback on all applications, no matter how big or small, young or old. Our feedback system is integrated to your dashboard, where you can read feedback on your applications and help develop your profile for the future.</p>
					</div>
				</div>
				<div class="grid_12">
					<h2 class="padtitle2">Measured Impact</h2>
					<div class="wrapper">
						<%=# image_tag ("3page_img2.png")
						%>
						<p>We love data at Raison. Our team love data so much, they sometimes claim they designed the matrix. Raison provides beautiful insight dashboards for all organisations, to ensure you can see the measured impact we are having on your organisation.</p>
					</div>
				</div>
			</div>
		</div>
	</section>	
</div>