<footer>
	<hr />
	<%#TODO need to change the copyright and Theme by to link to %>
	<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
	<p>Developed by <a href="http://www.sidhant.com">Sidhant Mehta</a></p>
</footer>