<%#:TODO change all href links. Change columns to what we actually need. %>
<footer>
	<div class=" container_24">
		<div class="wrapper">
			<div class="grid_6 suffix_2"> <!-- Column 1 -->
				<h1 class="footer-logo"><h1 style="font-size: 2em; font-family: impact;color: white;width: 7em;line-height: 40px; margin-top: -10px;">Raison Mentors</h1></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ultricies odio magna.</p>
				<p class="color1 privacy">&copy; 2012 <span>|</span>  <a href="index-7.html">Privacy Policy</a> <span>|</span> <a href="index-7.html">Terms and Conditions</a> <span>|</span><a href="index-7.html">Terms of Use</a></p>
			</div>
			<div class="grid_7 suffix_2"> <!-- Column 2 -->
				<h4>Related Links</h4>
				<div class="wrapper">
					<div class="grid_4 alpha"> <!-- Column 2.1 -->
						<ul class="footer-list">
							<li><a href="more.html">About Us</a></li>
							<li><a href="more.html">Testimonials</a></li>
							<li><a href="more.html">Our Staff</a></li>
							<li><a href="more.html">Events &amp; Press</a></li>
							<li><a href="more.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="grid_3 omega"> <!-- Column 2.2 -->
						<ul class="footer-list">
							<li><a href="more.html">Sign Up</a></li>
							<li><a href="more.html">Forums</a></li>
							<li><a href="more.html">Affiliate Program</a></li>
							<li><a href="more.html">FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="grid_7"> <!-- Column 3 -->
				<h4>Follow Us</h4>
				<ul class="tooltips">
					<li><a href="http://uk.linkedin.com/groups/Raison-Mentors-4830630"><%= image_tag ("icon1.png")%><span>LinkedIn</span></a></li>
					<li><a href="https://www.facebook.com/pages/Raison-Mentors/269390666513607"><%= image_tag ("icon3.png")%><span>Facebook</span></a></li>
					<li><a href="https://twitter.com/RaisonMentors"><%= image_tag ("icon2.png")%><span>Twitter</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>