<div class="pad-slider">
	<div class="main-slider">
		<ul class="items">
			<li>
				<%= image_tag ("slide1.jpg")%>
				<div class="slider-banner"><span>The Next Level of Your Success</span></div>
			</li>
			<li>
				<%= image_tag ("slide2.jpg")%>
				<div class="slider-banner"><span>We offer Different Ways of Problem Solving</span></div>
			</li>
			<li>
				<%= image_tag ("slide3.jpg")%>
				<div class="slider-banner"><span>We craft practical solutions</span></div>
			</li>
		</ul>
	</div>
</div>