<div class="pad-slider">
	<div class="main-slider">
		<ul class="items">
			<li>
				<%= image_tag ("Slide1.jpg")%>
				<div class="slider-banner"><span></span></div>
			</li>
			<li>
				<%= image_tag ("Slide2.jpg")%>
			</li>
			<li>
				<%= image_tag ("Slide3.jpg")%>
			</li>
			<li>
				<%= image_tag ("Slide4.jpg")%>
			</li>
		</ul>
	</div>
</div>