<%#TODO fix all the a href tags to link_to rails tags with correct naems. %>
<nav class="main-menu">
	<ul class="sf-menu">
		<li><a href="index.html"><em>About Us</em><strong></strong></a>  <!-- class="current" -->
			<ul>
				<li><a href="more.html">How it works</a></li><!-- look at services.html-->
				<li><a href="more.html">Meet the team</a></li><!-- look at team html-->
				<li><a href="more.html">Our philosohpy</a></li>
				<li><a href="more.html">What we do</a></li><!-- look at services.html-->
			</ul>
		</li>
		<li><a href="index-1.html"><em>Mentors</em><strong></strong></a>
			<ul>
				<li><a href="more.html">Find a mentor</a></li><!-- look at services.html-->
				<li><a href="more.html">Become a mentor</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index.html"><em>Projects</em><strong></strong></a>  <!-- class="current" -->
			<ul>
				<li><a href="more.html">Find a project</a></li><!-- look at services.html-->
				<li><a href="more.html">Set up a project</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index.html"><em>Jobs</em><strong></strong></a>  <!-- class="current" -->
			<ul>
				<li><a href="more.html">Find a job</a></li><!-- look at services.html-->
				<li><a href="more.html">Set up a job</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index-4.html"><em>Employer profiles</em><strong></strong></a></li>
		<li class="last"><a href="index-6.html"><em>Contact us</em><strong></strong></a></li>
		
		<li><a href="index-4.html"><em>Login</em><strong></strong></a>
			<ul>
				<li><%= link_to "members", new_member_session_path %></li>
				<li><%= link_to "clients", new_client_session_path %></li>
			</ul> 
		</li>
	</ul>
	<div class="clear"></div>
</nav>
