<div class="tabs-vert-left">
    <ul class="tabs-nav">
        <li><a href="">Simple</a></li>
        <li><a href="">Advanced</a></li>
    </ul>
 	<div class="tab-content">
		<form id="form">
		    <input id="mentor_name" type="text" placeholder="Mentor's name...">
		    <label>
		    	<span class="text-form fleft">in:</span>
		    <select id="sector_name">
		            <option>Accounting</option>
		            <option>Law</option>
		            <option>Medicine</option>
		            <option>Consulting</option>
	        </select>
			</label>   
			<a class="btn">Search</a>
		</form>
 	</div>
  
    <div class="tab-content"> 
	</div>
</div>
