<div class="container_24">
	<div class="wrapper">
		<div class="grid_10">
<p><em>Why setup a project?</em></p>
<ul style = "list-style-type: disc; padding: 2em;">
<li>
<p>Save time and money &ndash; we do the marketing &amp; HR for you!</p>
</li>
<li>
<p>Free highly-skilled volunteers for the organisation</p>
</li>
<li>
<p>Increase the completion of projects within the organisation (audits, research and departmental performance)</p>
</li>
<li>
<p>Attract new talent to the organisation through experiences within the organisation</p>
</li>
</ul>
<p>If you are interested in adding a project, please register with us today. Once you have registered, you will have the option of adding projects to your account. If you would like to find out more please <%= link_to "contact us", pages_contact_us_path %></span>.</p>
		</div>
		<div class="grid_14">
			<a href=<%= new_member_registration_path %> class="btn" style=" font-size: 2em; width: 40%; text-align: center; height: 50%; margin: 100px; ">Register Now</a>
		</div>
	</div>
</div>