<div class="container_24">
	<div class="wrapper">
		<div class="grid_10">
			
<p><em>Benefits of being a mentor</em></p>
<ul style = "list-style-type: disc; padding: 2em;">
<li>
<p>Mentors are more likely to obtain career progression than those who do not mentor</p>
</li>
<li>
<p>Develop your coaching and leadership skills</p>
</li>
<li>
<p>Enhance your network</p>
</li>
<li>
<p>Legacy &ndash; pass on your knowledge to the future generations</p>
</li>
<li>
<p>Gain satisfaction from seeing others achieve their dreams</p>
</li>
</ul>
<p>If you are interested in becoming a mentor please register by clicking the Register Now button on the right. Once you have registered, please select the Become A Mentor option in your account.</p>
			
		</div>
		<div class="grid_14">
			<a href=<%= new_member_registration_path %> class="btn" style="font-size: 2em;     width: 40%; text-align: center; height: 50%; margin: 100px; ">Register Now</a>
		</div>
	</div>
</div>