<div class="container_24">
	<div class="wrapper">
		<div class="grid_10">
			<p>
				Text about becoming a mentor.....
			</p>
		</div>
		<div class="grid_14">
			<a href=<%= new_member_registration_path %> class="button">Register Now</a>
		</div>
	</div>
</div>
