<%= render :partial => 'shared/homepage_slider'%>
<div class="grid_24">
				<div class="services first">
					<a href="more.html">
						<em>
							<%= image_tag ("1page_img1.png")%>
							<img src="images/1page_img1.png" alt="">
							<img src="images/1page_img1-hover.png" alt="" class="image-hover">
						</em>
						<span>Our <strong>Business</strong></span>
					</a>
				</div>
				<div class="services">
					<a href="more.html">
						<em>
							<img src="images/1page_img2.png" alt="">
							<img src="images/1page_img2-hover.png" alt="" class="image-hover">
						</em>
						<span>Our <strong>Approach</strong></span>
					</a>
				</div>
				<div class="services">
					<a href="more.html">
						<em>
							<img src="images/1page_img3.png" alt="">
							<img src="images/1page_img3-hover.png" alt="" class="image-hover">
						</em>
						<span>Lead <strong>Generation</strong></span>
					</a>
				</div>
				<div class="services">
					<a href="more.html">
						<em>
							<img src="images/1page_img4.png" alt="">
							<img src="images/1page_img4-hover.png" alt="" class="image-hover">
						</em>
						<span>Corporate <strong>Governance</strong></span>
					</a>
				</div>
				<div class="services last">
					<a href="more.html">
						<em>
							<img src="images/1page_img5.png" alt="">
							<img src="images/1page_img5-hover.png" alt="" class="image-hover">
						</em>
						<span>Marketing <strong>Services</strong></span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="wrapper">
				<div class="grid_24 padline">
					<div class="lineH"></div>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_8">
					<h2>Planning</h2>
					<img src="images/1page_img6.jpg" alt="">
					<p class="pad">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros non lectus ultrices rutrum. Sed in neque diam.</p>
					<a href="more.html" class="button">Read More</a>
				</div>
				<div class="grid_8">
					<h2>Integration</h2>
					<img src="images/1page_img7.jpg" alt="">
					<p class="pad">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros non lectus ultrices rutrum. Sed in neque diam.</p>
					<a href="more.html" class="button">Read More</a>
				</div>
				<div class="grid_8">
					<h2>Analysis</h2>
					<img src="images/1page_img8.jpg" alt="">
					<p class="pad">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros non lectus ultrices rutrum. Sed in neque diam.</p>
					<a href="more.html" class="button">Read More</a>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_24">
					<div class="padline2"><div class="lineH"></div></div>
					<h2 class="padtitle22">Our Clients</h2>
					<ul class="partners">
						<li><a href="more.html"><img src="images/1page_img9.png" alt=""></a></li>
						<li><a href="more.html"><img src="images/1page_img10.png" alt=""></a></li>
						<li><a href="more.html"><img src="images/1page_img11.png" alt=""></a></li>
						<li><a href="more.html"><img src="images/1page_img12.png" alt=""></a></li>
						<li><a href="more.html"><img src="images/1page_img13.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>	