<div class="wrapper">
	<div class="grid_18">
		<h2 class="padtitle3">Privacy Policy</h2>
		<p>Raison Mentors considers member’s privacy to be of upmost importance and we do all we can to ensure we keep all user data as secure as possible.</p>
		<br />
		<h3>Introduction</h3>
		<p>The data collected and stored by Raison Mentors is used to allow users to create accounts and apply to subsequent mentoring and project opportunities. All data collected is used in conjunction with our Terms &amp; Conditions.</p>

		This privacy policy will look to explain how we obtain, use and protect your data. We are committed to safeguarding your data and do our best to ensure your data is never insecure. If a user no longer would like their data to be held or would like it to be amended then they are recommended to contact us, so we can amend the account accordingly.
		<br/><br/> 
		<h3>Data collected from members</h3>
		When you register with us we require information from you to complete your personal profile, so that your account can be used for applications. This data includes but is not limited to; your email address, a password, contact number, contact address and occupational/study experience. For all applications a CV must also be added to the profile prior to submission.

		Members have the opportunity to have additional information stored on their accounts such as, gender, to help Raison Mentors analyse their member recruitment process. Members will also have opportunities to upgrade their membership to the Raison Network if so desired. It is possible that we may use member information in unanticipated ways, not stated in our privacy policy. However, in this event we will contact each member individually, instructing them on the usage and providing them with the opportunity to opt-out.
		<br/><br/> <h3>Use of collected information/information sharing</h3>
		Raison Mentors uses the collected information about users for a number of purposes including;
		<ul>
			<li>
				To correspond to any contact you have made with the organisation
			</li>
			<li>
				For administration purposes, Raison Mentors may contact you for reasons related to your account or applications
			</li>
			<li>
				For internal record keeping
			</li>
			<li>
				To contact you about any content you provide
			</li>
			<li>
				To let you know about the success of your application or feedback on your application
			</li>
			<li>
				To keep regular contact post-project/mentor start, ensuring it is running smoothly and to offer support
			</li>
			<li>
				For marketing purposes where you have specifically agreed to this
			</li>
		</ul>
		<br/><br/> <h3>Email Settings</h3>
		At Raison Mentor our intention is never to send you any unwanted emails, junk or spam. We target all our emails at individuals based on their specific interests and experience they have provided us with. Users are able to specify which type of emails they would like to and do not want to receive via their account options.

		Some emails are essential, regarding service of the organisation and application status email and thus these emails cannot be unsubscribed from. Therefore it is imperative to ensure your email address is correct as this will be vital in ensuring your applications complete successfully and that you receive vital information from Raison Mentors.
		<br/><br/> <h3>Disclosure of Personal Data</h3>
		As part of our compliance with the Data Protection Act 1998, we allow members to view any information we store on them. To view such data please contact us and we shall arrange this accordingly. Please note for this there may be a small administration fee incurred which should be no more than £10.
		<br/><br/> <h3>Changes to our policy</h3>
		Raison Mentors reserves the right to change this Privacy Policy at any time and therefore recommends you should check this before submitting any new personal information. If you do not agree with our Privacy Policy or have concerns please feel free to contact us and let us know and we will do our best to accommodate your issue.
	</div>
</div>
