<div class="wrapper">
	<div class="grid_18">
		We hope you have found browsing through Raison Mentors to be useful and have found a mentor or project that is helpful for your career. At Raison Mentors we do our best to ensure we can link as many students as possible and link students based on merit and their ability. Use of our website is provided by Raison Mentors LTD and subject to the following terms and conditions:
		<br/><br/><h3>Membership</h3>
		One account is allowed per UK resident and cannot be used by other members. All applications made to mentors and projects must be from the original user. The person may be based abroad and is not required to be a British Citizen, but must have the right to work within the UK. Members may be asked to provide proof of this. Members may also undergo a CRB check and are recommended to inform us of any criminal convictions prior to signing up. All memberships are free (although there is an option to upgrade to Raison Network for a fee)

		We reserve the right to refuse membership if it is believed the account is fraudulent or abusive, or participates in other activities we deem to be inappropriate. Further to this we reserve the right to terminate your account for such behaviour. If the email account on the membership is also fraudulent or not serviceable, we may also terminate your account.

		For all memberships, you will need accept our service emails and authenticate your email address on sign up. On sign up, you will be subscribed to receive emails from Raison Mentors which can be altered in the account section.
		<br/><br/><h3>Applications</h3>
		All applications made by members must be authentic and they must be willing to enthusiastically participate in the mentorship or project, if successful. If any applications are made of which the user is not interested in participating in, they may have their account terminated and be banned from future applications, unless a reasonable excuse is provided.

		Users may apply for multiple applications, however if successful on an application they must remove their other applications which conflict with this i.e. if a mentor is received all other mentor applications must be removed. Users are allowed to apply for projects and mentors and if successful in one domain, they are not expected to withdraw their application from the other.

		We expect all applications to be genuine and if we believe they are not so, we reserve the right to withdraw them, ban the user and terminate their accounts.
		<br/><br/><h3>Feedback</h3>
		All unsuccessful applications, at all stages will receive feedback on their application. They will be told why they have not been successful for that specific programme and how their application can be improved in general terms.

		It is important to note that the feedback is based on our specific criteria for each application and what we expect from applications, in terms of structure, experience and written skills. We review many applications from high calibre students and therefore consider our feedback to be relevant to improving users’ CVs and applications. This feedback may be relevant to job applications and other such applications, considering the experience level of our applicants. However, it is important to note that our feedback is subjective and based on our experience with applications, therefore will not necessarily correlate to job applications.
		<br/><br/><h3>Modification of Agreement</h3>
		We may modify any of the terms and conditions contained in this Agreement, at any time and at our sole discretion for any reason. We will post the revised agreement on this website.
		<br/><br/><h3>Privacy Policy</h3>
		Please review our privacy policy, for an outline on how we collect data and use data we collect on you.
		<br/><br/><h3>Copyright</h3>
		Raison Mentors LTD is protected by copyright. The site is only for personal use and may not be replicated, even with amendments. The site should not be reproduced for other purposes, especially for commercial purposes.
		<br/><br/><h3>Advertisements</h3>
		Raison Mentors provides adverts to external links, which may be relevant to you and your chosen career sectors. The external websites are not under our control and we cannot be responsible for the content placed on their sites. We do not endorse these sites or accept any liability for any action of said websites or their parent company.
		<br/><br/><h3>Disclaimer</h3>
		At Raison Mentors we do our best to ensure our mentors and projects are of the highest calibre. However, unfortunately as we are the intermediary between students and mentors/projects, we cannot guarantee that a successful application will result in completion of the mentorship/project. To ensure this is a rare circumstance we regularly liaise with mentors, project supervisors and students; offering advice and support, whilst ensuring the programme is running sufficiently. Through high levels of communication and regular feedback processes, we look to remove any mentors and projects, which are deemed as not participating appropriately in their programmes. We strongly advise all users to regularly contact their mentors and project supervisors to maintain a good relationship and if you encounter any issues to please let us know as soon as possible.
	</div>
</div>
