<div class="wrapper">
	<div class="grid_18">
		Raison Mentors is a free service linking students and young professionals to mentors from their career sector and projects to gain real-life career experience. We welcome applications from all users and hope there is a mentor/project which fulfils your requirement. If you cannot find a mentor or project that fulfils your requirements please contact us and we will do our best to arrange some accordingly. These terms of use covers rules of applications for both mentors and projects and what we expect from our applicants.
		<br/><br/><h3>Mentors</h3>
		<ul>
			<li>
				All mentor applications must be made through our website and each applicant must create a user profile, attaching a CV prior to any applications
			</li>
			<li>
				Mentors can be found via the search facility or through email updates for mentors in the chosen career sectors
			</li>
			<li>
				Users are only allowed to accept one mentorship from one mentor
			</li>
			<li>
				Users are allowed to submit multiple applications to mentors, however if successful and choose to participate in the mentorship, they must withdraw all other applications
			</li>
			<li>
				Once successful with an application, the user is then responsible to arrange the mentorship and we will support them in doing so
			</li>
			<li>
				All users must only make applications they truly consider to be genuine and if they do not participate in a mentorship following a successful application they may have their user account withdrawn and banned from all future applications
			</li>
			<li>
				We expect all mentees to be enthusiastic and passionate about their chosen career and to utilise the opportunity they will be provided with from Raison Mentors
			</li>
			<li>
				All feedback from unsuccessful applications should be considered when applying to future applications and in helping develop their current CVs
			</li>
			<li>
				It must be noted that feedback is subject to our requirements and selection criteria and although it may be helpful for other applications, it is subjective to the feedback creator
			</li>
			<li>
				All project applications must be made through our website and each applicant must create a user profile, attaching a CV prior to any applications
			</li>
			<li>
				Projects can be found via the search facility or through email updates for projects in the chosen career sectors
			</li>
			<li>
				Users must take in to account the length of the project and required working days, before any applications will be made and should they be successful they will be fully expected to participate as previously agreed on the application form
			</li>
			<li>
				Users are only allowed to accept one project from one project supervisor
			</li>
			<li>
				Users are allowed to submit multiple applications to projects, however if successful and choose to participate in the project, they must withdraw all other applications
			</li>
			<li>
				Once successful with an application, the user is then responsible to arrange the project with their supervisor and we will support them in doing so
			</li>
			<li>
				The user will be expected to complete a Raison Mentor volunteer agreement form before participating in the project and failure to do so will mean they will not be allowed to participate in the project
			</li>
			<li>
				All users must only make applications they truly consider to be genuine and if they do not participate in a project following a successful application they may have their user account withdrawn and banned from all future applications
			</li>
			<li>
				We expect all project volunteers to be enthusiastic and passionate about their chosen career and to utilise the opportunity they will be provided with from Raison Mentors
			</li>
			<li>
				All feedback from unsuccessful applications should be considered when applying to future applications and in helping develop their current CVs
			</li>
			<li>
				It must be noted that feedback is subject to our requirements and selection criteria and although it may be helpful for other applications, it is subjective to the feedback creator)
			</li>
		</ul>
		<br/><br/><h3>Projects</h3>
		<ul>
			<li>
				All project applications must be made through our website and each applicant must create a user profile, attaching a CV prior to any applications
			</li>
			<li>
				Projects can be found via the search facility or through email updates for projects in the chosen career sectors
			</li>
			<li>
				Users must take in to account the length of the project and required working days, before any applications will be made and should they be successful they will be fully expected to participate as previously agreed on the application form
			</li>
			<li>
				Users are only allowed to accept one project from one project supervisor
			</li>
			<li>
				Users are allowed to submit multiple applications to projects, however if successful and choose to participate in the project, they must withdraw all other applications
			</li>
			<li>
				Once successful with an application, the user is then responsible to arrange the project with their supervisor and we will support them in doing so
			</li>
			<li>
				The user will be expected to complete a Raison Mentor volunteer agreement form before participating in the project and failure to do so will mean they will not be allowed to participate in the project
			</li>
			<li>
				All users must only make applications they truly consider to be genuine and if they do not participate in a project following a successful application they may have their user account withdrawn and banned from all future applications
			</li>
			<li>
				We expect all project volunteers to be enthusiastic and passionate about their chosen career and to utilise the opportunity they will be provided with from Raison Mentors
			</li>
			<li>
				All feedback from unsuccessful applications should be considered when applying to future applications and in helping develop their current CVs
			</li>
			<li>
				It must be noted that feedback is subject to our requirements and selection criteria and although it may be helpful for other applications, it is subjective to the feedback creator)
			</li>
		</ul>
		&nbsp;
	</div>
</div>
