	<%= render :partial => 'shared/member/header' %>
	<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
	
	<section id="main" class="column">
	
	<% #TODO insert JQuery here for boxes that open up sections which will have parts to fill in %>
	
	</section>
